header .headerText{
  font-size: 45px;
}
header ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header a{
  font-size: 18px;
  color: #414141;
  padding: 10px 15px;
}
ul li:first-child > a{
  color: #64A7D9;
}

#homeSection h1{
  font-size: 25px;
  font-weight: 300;
  color: #414141;
  display: flex;
  flex-wrap: wrap;
}
.picsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.picsSection img{
  cursor: pointer;
  width: 500px;
  height: 500px;
  padding: 10px 15px ;
  
}
.footer button{
  cursor: pointer;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 5px 10px;
  color: white;
  background-color: black;
}